<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">to this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>
</form>

<% if cookies["most_recent_addition"] != nil %>
  <p>Last Addition Result: <%= cookies["most_recent_addition"] %></p>
<% end %>
